target/*
lab07-student-server/target/*
lab07-http-client/lab07-http-client/target/*
*.log
*.Ist
*.lst
lab07-http-client/lab07-http-client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
lab07-http-client/lab07-http-client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
lab07-http-client/lab07-http-client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
